*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "merriweather", serif;

  font-size: 18px;

  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}


/* Utility */
.font-petemoss {
  font-family: "petemoss";
}

.font-corinthia {
  font-family: "corinthia";
}

.judul{
  font-size: 80px !important;
}

.namayangnikah{
  font-family: "petemoss";
}

.btn-white {
  background-color: white;
  border: 2px solid #ececec;
  color: #000;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 6px;
}

.btn-white:hover {
  color: #fff;
  background-color: #986955;
  border-color: #775141;
}

.btn-white:focus {
  box-shadow: 0 0 0 0.25rem rgba(221, 221, 221, 0.5);
}

.pernikahan {
  /* position: relative; */
  margin-top: 400px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.pernikahan h1 {
  font-size: 80px;
}

.pernikahan h4,
p {
  font-size: 22px;
}

.bg1{
  background-image: url(../img/bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#img-cover{
    height: 100vh;
    background-image: url(../img/cover.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.textcover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section content 1 */
.bg-putih {
    margin-top: -610px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }

@media (max-width: 576px) {
  .bg-putih {
    margin-top: 500px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .bg-putih {
    margin-top: 450px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .bg-putih {
    margin-top: -600px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }
}

@media (min-width: 992px) and (max-width: 1180px) {
  .bg-putih {
    margin-top: 500px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }
}


section.quote {
  margin-top: -100px !important;
}

section.quote p {
  font-size: 12px !important;
  margin: 0 35px 20px 35px;
}

section.bagian-mempelai .bg2 {
  background-color: #986955;
  padding-bottom: 250px;
  margin-top: -1px;
}

section.bagian-mempelai .sang-mempelai {
  margin-top: -100px !important;
  font-size: 50px !important;
}

section.bagian-mempelai .mempelai {
  margin-top: -0px !important;
}

section.bagian-mempelai img.img-mempelai {
  margin-top: 0px;
}

section.bagian-mempelai .mempelai p.fs-6 {
  font-size: 12px;
  margin: 0 35px;
}